*{
  margin: 0
  padding: 0
  box-sizing: border-box;
}
body {
  font-family: 'Cabin', sans-serif;
  color: #455a64;

}

.logo {
  width: 120px;
  float: left;
}

nav {
  display: inline-block;
  position: fixed;
  top: 45px;
  width: 100%;
  height: 50px;
  background-color: #00bfa5;
  text-align: center;
}


li {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
  text-align: center;
  background-color: #69f0ae;
}

a {
   text-decoration: none;
   color: #455a64;
}

a:hover {
  color: #69f0ae;
}

li:hover{
  background-color: white;
}
